@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,600,400&display=swap");
@import 'sass/reset';
@import'variables/variables';
@import'components/header/header';
@import'components/navigation/Navigation';
@import'components/movie-list/movie-list';
@import'components/movie-list/movie-item';
@import'components/movie-list/MovieItemPage';

body {
    font-family: "Poppins", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: linear-gradient(to right, #00001c, #003341b8)#000;
    background: #0b1a23;
    

    background-size: cover;
    background-position: center;
    min-height: 100vh;
    line-height: 1.6rem;
}

.loader {
    margin: 30% auto;
    transform: scale(.4);
    opacity: .5;
}

#root>div:nth-child(1) {
    height: 100vh;
}

.fa {
    color: #fff;
}

.login {
    color: #fff;
    height: 100vh;
    .loginContainer {
        width: 30vw;
        margin: 0 auto; 
        padding-top: 200px;
        text-transform: uppercase;
        display: flex;
        flex-direction:column;
        height: 50vh;

        input {
            // display: block;
            margin-bottom: 20px;
            padding: 0.5em 0.25em;
            border: none;
            border-radius: 0.2em;
            font-size: 1.5em;
            // text-align: center;
            box-shadow: 0 0 1em 0.25em rgba(0,0,0,0.2);
        }

        button {
            all: unset;
            padding: .5em 2em;
            margin: .5em 2em;
            letter-spacing: .2em;
            cursor: pointer;
            background: linear-gradient(to top, rgba(0, 82, 145, 0.427), rgba(7, 255, 57, 0.756));
            border-radius: 50px;
            border: solid 1px rgba(255, 255, 255, 0.2);
            color: #fff;
        }
    }
}


